<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939471235078-nuh19drrd3csmfvcnuk0ksi09pssh4s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939471235078-nuh19drrd3csmfvcnuk0ksi09pssh4s2</string>
	<key>API_KEY</key>
	<string>AIzaSyAdu0X-K_SDEGmmisB1CGGClXGHe8n6rgs</string>
	<key>GCM_SENDER_ID</key>
	<string>939471235078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ruheekim.SoptAssignment</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-c3126</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-c3126.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939471235078:ios:5e3fd027e2d24358153b87</string>
</dict>
</plist>